<section id="services" class="services section box box--default">
  <div class="container">
    <h2 class="mrgt0">{{ t.services.title }}</h2>
    <div class="grid grid--multiline">
      <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
        <div class="box pdg0">
          <div class="services__img services__img--access"></div>
          <p class="services__description">{{ t.services.access }}</p>
        </div>
      </div>
      <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
        <div class="box pdg0">
          <div class="services__img services__img--lock"></div>
          <p class="services__description">{{ t.services.lock }}</p>
        </div>
      </div>
      <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
        <div class="box pdg0">
          <div class="services__img services__img--key"></div>
          <p class="services__description">{{ t.services.key }}</p>
        </div>
      </div>
      <div class="grid__item sm-w-1/2 md-w-1/3 lg-w-1/4">
        <div class="box pdg0">
          <div class="services__img services__img--door"></div>
          <p class="services__description">{{ t.services.door }}</p>
        </div>
      </div>
    </div>
  </div>
</section>