/*----------------------------------------*\
  FOOTER
\*----------------------------------------*/

.footer {
  width: 100%;
  background-color: $alt-color-lighter;
}

  .footer__container {
    @include media('sm') {
      display: flex;
      justify-content: space-between;
    }
  }