/*----------------------------------------*\
  FOOTER
\*----------------------------------------*/

.footer {
  width: 100%;
  height: 60px;
  background-color: $alt-color-lighter;
}

  .footer__container {
    display: flex;
    justify-content: space-between;
  }